<!--<section class="container">-->
<!--<ul class="user-list">-->
<!--<li>-->
<!--<a href="" class="user-item d-flex justify-content-between">-->
<!--<div class="d-flex justify-content-between">-->
<!--<figure class="user-item-figure">-->
<!--<img src="/assets/images/user.jpg" alt=""/>-->
<!--</figure>-->
<!--<span class="user-item-name">-->
<!--thorneny-->
<!--</span>-->
<!--</div>-->
<!--<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--<path-->
<!--d="M9.28369 19.7083L16.6179 13.2188C16.6489 13.1914 16.6737 13.1578 16.6906 13.1201C16.7076 13.0824 16.7164 13.0416 16.7164 13.0003C16.7164 12.959 16.7076 12.9182 16.6906 12.8805C16.6737 12.8428 16.6489 12.8092 16.6179 12.7818L9.28369 6.29168"-->
<!--stroke="#4488EF" stroke-width="2.08333" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--</svg>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--<button type="button" class="link-btn">Connect a Roblox account to monitor</button>-->
<!--</section>-->

<!--<section class="container">-->
<!--<div class="d-flex user-profile">-->
<!--<figure class="user-item-figure">-->
<!--<img src="/assets/images/user.jpg" alt=""/>-->
<!--</figure>-->
<!--<h2 class="user-item-name active">-->
<!--thorneny-->
<!--</h2>-->
<!--</div>-->
<!--<h3 class="date-title">Most Recent</h3>-->
<!--<ul class="date-list">-->
<!--<li>-->
<!--<a href="" class="date-list-name d-flex justify-content-between">-->
<!--<span>June 2, 2022</span>-->
<!--<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--<path-->
<!--d="M9.28369 19.7083L16.6179 13.2188C16.6489 13.1914 16.6737 13.1578 16.6906 13.1201C16.7076 13.0824 16.7164 13.0416 16.7164 13.0003C16.7164 12.959 16.7076 12.9182 16.6906 12.8805C16.6737 12.8428 16.6489 12.8092 16.6179 12.7818L9.28369 6.29168"-->
<!--stroke="#4488EF" stroke-width="2.08333" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--</svg>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--<h3 class="date-title">Last 7 Days</h3>-->
<!--<ul class="date-list">-->
<!--<li>-->
<!--<a href="" class="date-list-name d-flex justify-content-between">-->
<!--<span>June 2, 2022</span>-->
<!--<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--<path-->
<!--d="M9.28369 19.7083L16.6179 13.2188C16.6489 13.1914 16.6737 13.1578 16.6906 13.1201C16.7076 13.0824 16.7164 13.0416 16.7164 13.0003C16.7164 12.959 16.7076 12.9182 16.6906 12.8805C16.6737 12.8428 16.6489 12.8092 16.6179 12.7818L9.28369 6.29168"-->
<!--stroke="#4488EF" stroke-width="2.08333" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--</svg>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="" class="date-list-name d-flex justify-content-between">-->
<!--<span>June 2, 2022</span>-->
<!--<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--<path-->
<!--d="M9.28369 19.7083L16.6179 13.2188C16.6489 13.1914 16.6737 13.1578 16.6906 13.1201C16.7076 13.0824 16.7164 13.0416 16.7164 13.0003C16.7164 12.959 16.7076 12.9182 16.6906 12.8805C16.6737 12.8428 16.6489 12.8092 16.6179 12.7818L9.28369 6.29168"-->
<!--stroke="#4488EF" stroke-width="2.08333" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--</svg>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="" class="date-list-name d-flex justify-content-between">-->
<!--<span>June 2, 2022</span>-->
<!--<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--<path-->
<!--d="M9.28369 19.7083L16.6179 13.2188C16.6489 13.1914 16.6737 13.1578 16.6906 13.1201C16.7076 13.0824 16.7164 13.0416 16.7164 13.0003C16.7164 12.959 16.7076 12.9182 16.6906 12.8805C16.6737 12.8428 16.6489 12.8092 16.6179 12.7818L9.28369 6.29168"-->
<!--stroke="#4488EF" stroke-width="2.08333" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--</svg>-->
<!--</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="" class="date-list-name d-flex justify-content-between">-->
<!--<span>June 2, 2022</span>-->
<!--<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">-->
<!--<path-->
<!--d="M9.28369 19.7083L16.6179 13.2188C16.6489 13.1914 16.6737 13.1578 16.6906 13.1201C16.7076 13.0824 16.7164 13.0416 16.7164 13.0003C16.7164 12.959 16.7076 12.9182 16.6906 12.8805C16.6737 12.8428 16.6489 12.8092 16.6179 12.7818L9.28369 6.29168"-->
<!--stroke="#4488EF" stroke-width="2.08333" stroke-linecap="round" stroke-linejoin="round"/>-->
<!--</svg>-->
<!--</a>-->
<!--</li>-->
<!--</ul>-->
<!--</section>-->


<section class="container">
  <h1 class="title-date">June 2, 2022</h1>
  <h2 class="sub-title">Games Played</h2>
  <div class="game-container d-flex">
    <div class="game">
      <figure class="game-figure">
        <img src="/assets/images/game.jpg" alt="">
      </figure>
      <h3 class="game-name">Mad City</h3>
      <span class="game-status">Installing</span>
    </div>
    <div class="game">
      <figure class="game-figure">
        <img src="/assets/images/game.jpg" alt="">
      </figure>
      <h3 class="game-name">[HUNT!] Sonic
        Speed Simulator</h3>
      <span class="game-status">Installing</span>
    </div>
    <div class="game">
      <figure class="game-figure">
        <img src="/assets/images/game.jpg" alt="">
      </figure>
      <h3 class="game-name">[UPD] YouTube
        Life!</h3>
      <span class="game-status">Installing</span>
    </div>
  </div>

  <h2 class="sub-title">New Friends</h2>
  <div class="friends-container">
    <a href="" class="friend">
      <figure class="friend-figure">
      <img src="/assets/images/user.jpg" alt=""/>
      </figure>
      <span class="friend-name">565Steve</span>
      <span class="friend-status">Online</span>
    </a>
    <a href="" class="friend">
      <figure class="friend-figure">
        <img src="/assets/images/user.jpg" alt=""/>
      </figure>
      <span class="friend-name">CURRY</span>
      <span class="friend-status">Online</span>
    </a>
    <a href="" class="friend">
      <figure class="friend-figure">
        <img src="/assets/images/user.jpg" alt=""/>
      </figure>
      <span class="friend-name">CarlCarlCarlLuis</span>
      <span class="friend-status">1h ago</span>
    </a>
  </div>
</section>


<section class="container">
  <h1 class="title-date">June 2, 2022</h1>
  <h2 class="sub-title">Games Played</h2>
  <p class="message">@thorneny did not play any games</p>
  <h2 class="sub-title">New Friends</h2>
  <p class="message">@thorneny did not add any new friends</p>
</section>
